body {
  font-family: serif;
  font-weight: normal;
  font-style: normal;
  line-height: 1.1;
  margin-left: 0pt;
  margin-right: 0pt;
  text-indent: 0pt;
  margin-left: 5px;
  width: 95%;
}

.x--sfe-BeforeOrAfterText-1-0 {
  margin-left: 0pt;
  margin-right: 0pt;
}

.x--sfe-CollectionItem-1-0 {
  margin-left: 0pt;
  margin-right: 0pt;
}

.x--sfe-CollectionItem-2-0 {
  margin-left: 0pt;
  margin-right: 0pt;
}

.x--sfe-CollectionItem-3-0 {
  margin-left: 0pt;
  margin-right: 0pt;
}

.x--sfe-CollectionItem-4-0 {
  margin-left: 0pt;
  margin-right: 0pt;
}

.x--sfe-CrossReference-1-0 {
  margin-left: 0pt;
  margin-right: 0pt;
}

.x--sfe-CrossReferenceTitle-1-0 {
  margin-left: 0pt;
  margin-right: 0pt;
}

.x--sfe-CrossReferenceTitle-2-0 {
  margin-left: 0pt;
  margin-right: 0pt;
  font-style: italic;
}

.x--sfe-ExternalLink-1-0 {
  margin-left: 0pt;
  margin-right: 0pt;
  color: #0000ff;
  text-decoration: underline;
}

.x-FlattenedMap-1-0 {
  margin-left: 0pt;
  margin-right: 0pt;
}

.x--sfe-Gentext-1-0 {
  margin-left: 0pt;
  margin-right: 0pt;
}

.x--sfe-HeaderOrFooter-1-0 {
  margin-left: 0pt;
  margin-right: 0pt;
  text-indent: 0pt;
  margin-top: 0pt;
}

.x--sfe-Index-1-0 {
  margin-left: 0pt;
  margin-right: 0pt;
  text-indent: 0pt;
}

.x--sfe-IndexAlphaGroup-Main-Index-1-0 {
  margin-left: 0pt;
  margin-right: 0pt;
  text-indent: 0pt;
  margin-top: 1.5pc;
}

.x--sfe-IndexEndPage-Main-Index-1-0 {
  margin-left: 0pt;
  margin-right: 0pt;
}

.x--sfe-IndexEntry-Main-Index-1-0 {
  margin-left: 0pt;
  margin-right: 0pt;
  text-indent: 0pt;
  margin-left: 1em;
  text-indent: -0.5em;
  text-align: left;
}

.x--sfe-IndexEntry-Main-Index-2-0 {
  margin-left: 0pt;
  margin-right: 0pt;
  text-indent: 0pt;
  margin-left: 1em;
  text-indent: -0.5em;
  text-align: left;
}

.x--sfe-IndexEntry-Main-Index-3-0 {
  margin-left: 0pt;
  margin-right: 0pt;
  text-indent: 0pt;
  margin-left: 1em;
  text-indent: -0.5em;
  text-align: left;
}

.x--sfe-IndexEntry-Main-Index-4-0 {
  margin-left: 0pt;
  margin-right: 0pt;
  text-indent: 0pt;
  margin-left: 0.5em;
  margin-right: 2pc;
  text-indent: -0.5em;
  text-align: left;
}

.x--sfe-IndexGroupHead-Main-Index-1-0 {
  margin-left: 0pt;
  margin-right: 0pt;
  text-indent: 0pt;
  font-family: Arial;
  font-weight: bold;
  font-size: 14pt;
  text-transform: uppercase;
  text-align: left;
  margin-bottom: 0.5pc;
}

.x--sfe-IndexHeading-Main-Index-1-0 {
  margin-left: 0pt;
  margin-right: 0pt;
}

.x--sfe-IndexLocators-Main-Index-1-0 {
  margin-left: 0pt;
  margin-right: 0pt;
}

.x--sfe-IndexPage-Main-Index-1-0 {
  margin-left: 0pt;
  margin-right: 0pt;
}

.x--sfe-IndexPage-Main-Index-2-0 {
  margin-left: 0pt;
  margin-right: 0pt;
}

.x--sfe-IndexPostGroup-Main-Index-1-0 {
  margin-left: 0pt;
  margin-right: 0pt;
  text-indent: 0pt;
  margin-top: 1.5pc;
}

.x--sfe-IndexPreGroup-Main-Index-1-0 {
  margin-left: 0pt;
  margin-right: 0pt;
  text-indent: 0pt;
  margin-top: 1.5pc;
}

.x--sfe-IndexRangeGroup-Main-Index-1-0 {
  margin-left: 0pt;
  margin-right: 0pt;
  text-indent: 0pt;
  margin-top: 1.5pc;
}

.x--sfe-IndexSeeAlso-Main-Index-1-0 {
  margin-left: 0pt;
  margin-right: 0pt;
  text-indent: 0pt;
  margin-left: 3em;
  text-indent: -1.5em;
}

.x--sfe-IndexSee-Main-Index-1-0 {
  margin-left: 0pt;
  margin-right: 0pt;
}

.x--sfe-IndexSubGroupHead-Main-Index-1-0 {
  margin-left: 0pt;
  margin-right: 0pt;
  text-indent: 0pt;
  font-weight: bold;
  font-size: 14pt;
  text-transform: uppercase;
  text-align: left;
  margin-top: 2pc;
}

.x--sfe-Index-Main-Index-1-0 {
  margin-left: 0pt;
  margin-right: 0pt;
  text-indent: 0pt;
}

.x--sfe-InternalLink-1-0 {
  margin-left: 0pt;
  margin-right: 0pt;
  color: #0000ff;
  text-decoration: underline;
}

.x-NewElement-1-0 {
  margin-left: 0pt;
  margin-right: 0pt;
}

.x-NewElement1-1-0 {
  margin-left: 0pt;
  margin-right: 0pt;
}

.x-RDStyle-1-0 {
  margin-left: 0pt;
  margin-right: 0pt;
}

.x-ReferredTopics-1-0 {
  margin-left: 0pt;
  margin-right: 0pt;
}

.x--sfe-RepeatingTitle-1-0 {
  margin-left: 0pt;
  margin-right: 0pt;
  text-indent: 0pt;
  margin-bottom: 18pt;
}

.x--sfe-RepeatingTitleBottom-1-0 {
  margin-left: 0pt;
  margin-right: 0pt;
  text-indent: 0pt;
  margin-top: 18pt;
}

.x-ResolvedMap-1-0 {
  margin-left: 0pt;
  margin-right: 0pt;
}

.x--sfe-TableOfContents-1-0 {
  margin-left: 0pt;
  margin-right: 0pt;
}

.x-action-desc-1-0 {
  margin-left: 0pt;
  margin-right: 0pt;
}

.x-addressdetails-1-0 {
  margin-left: 0pt;
  margin-right: 0pt;
}

.x-administrativearea-1-0 {
  margin-left: 0pt;
  margin-right: 0pt;
}

.x-alt-1-0 {
  margin-left: 0pt;
  margin-right: 0pt;
}

.x-anchor-1-0 {
  margin-left: 0pt;
  margin-right: 0pt;
}

.x-anchorid-1-0 {
  margin-left: 0pt;
  margin-right: 0pt;
}

.x-anchorkey-1-0 {
  margin-left: 0pt;
  margin-right: 0pt;
}

.x-anchorref-1-0 {
  margin-left: 0pt;
  margin-right: 0pt;
}

.x-audience-1-0 {
  margin-left: 0pt;
  margin-right: 0pt;
}

.x-author-1-0 {
  margin-left: 0pt;
  margin-right: 0pt;
}

.x-authorinformation-1-0 {
  margin-left: 0pt;
  margin-right: 0pt;
}

.x-b-1-0 {
  margin-left: 0pt;
  margin-right: 0pt;
  font-weight: bold;
}

.x--ufe-block-1-0 {
  margin-left: 0pt;
  margin-right: 0pt;
  text-indent: 0pt;
}

.x-body-1-0 {
  margin-left: 0pt;
  margin-right: 0pt;
  text-indent: 0pt;
}

.x-brand-1-0 {
  margin-left: 0pt;
  margin-right: 0pt;
}

.x-category-1-0 {
  margin-left: 0pt;
  margin-right: 0pt;
}

.x-cite-1-0 {
  margin-left: 0pt;
  margin-right: 0pt;
}

.x-colspec-1-0 {
  margin-left: 0pt;
  margin-right: 0pt;
  text-indent: 0pt;
}

.x-component-1-0 {
  margin-left: 0pt;
  margin-right: 0pt;
}

.x-contactnumber-1-0 {
  margin-left: 0pt;
  margin-right: 0pt;
}

.x-contactnumbers-1-0 {
  margin-left: 0pt;
  margin-right: 0pt;
}

.x-contentref-1-0 {
  margin-left: 0pt;
  margin-right: 0pt;
}

.x-contentstatus-1-0 {
  margin-left: 0pt;
  margin-right: 0pt;
}

.x-copyrholder-1-0 {
  margin-left: 0pt;
  margin-right: 0pt;
}

.x-copyright-1-0 {
  margin-left: 0pt;
  margin-right: 0pt;
}

.x-copyryear-1-0 {
  margin-left: 0pt;
  margin-right: 0pt;
}

.x-country-1-0 {
  margin-left: 0pt;
  margin-right: 0pt;
}

.x-covermetadata-1-0 {
  margin-left: 0pt;
  margin-right: 0pt;
}

.x-coverpage-1-0 {
  margin-left: 0pt;
  margin-right: 0pt;
  text-indent: 0pt;
}

.x-coverprolog-1-0 {
  margin-left: 0pt;
  margin-right: 0pt;
  text-indent: 0pt;
}

.x-created-1-0 {
  margin-left: 0pt;
  margin-right: 0pt;
}

.x-critdates-1-0 {
  margin-left: 0pt;
  margin-right: 0pt;
}

.x-data-1-0 {
  margin-left: 0pt;
  margin-right: 0pt;
}

.x-dd-1-0 {
  margin-left: 0pt;
  margin-right: 0pt;
}

.x-ddhd-1-0 {
  margin-left: 0pt;
  margin-right: 0pt;
}

.x-desc-1-0 {
  margin-left: 0pt;
  margin-right: 0pt;
}

.x-division-1-0 {
  margin-left: 0pt;
  margin-right: 0pt;
}

.x-dl-1-0 {
  margin-left: 0pt;
  margin-right: 0pt;
}

.x-dlentry-1-0 {
  margin-left: 0pt;
  margin-right: 0pt;
  text-indent: 0pt;
  margin-top: 8pt;
}

.x-dlhead-1-0 {
  margin-left: 0pt;
  margin-right: 0pt;
}

.x-draft-comment-1-0 {
  margin-left: 0pt;
  margin-right: 0pt;
  text-indent: 0pt;
  font-family: Calibri;
  font-weight: bold;
  font-size: 12pt;
  font-style: italic;
  color: #000000;
}

.x-draft-comment-1-1 {
}

.x-draft-comment-1-2 {
}

.x-draft-comment-1-3 {
}

.x-draft-comment-1-4 {
}

.x-draft-comment-1-5 {
}

.x-dt-1-0 {
  margin-left: 0pt;
  margin-right: 0pt;
}

.x-dthd-1-0 {
  margin-left: 0pt;
  margin-right: 0pt;
}

.x-emailaddress-1-0 {
  margin-left: 0pt;
  margin-right: 0pt;
}

.x-emailaddresses-1-0 {
  margin-left: 0pt;
  margin-right: 0pt;
}

.x-entry-1-0 {
  margin-left: 0pt;
  margin-right: 0pt;
  text-indent: 0pt;
  margin-left: 0pt;
  margin-right: 0pt;
  text-indent: 0pt;
  margin-top: 0pt;
}

.x-exportanchors-1-0 {
  margin-left: 0pt;
  margin-right: 0pt;
}

.x-featnum-1-0 {
  margin-left: 0pt;
  margin-right: 0pt;
}

.x-fig-1-0 {
  margin-left: 0pt;
  margin-right: 0pt;
}

.x-figurelist-1-0 {
  margin-left: 0pt;
  margin-right: 0pt;
}

.x-finished-action-1-0 {
  margin-left: 0pt;
  margin-right: 0pt;
}

.x-firstname-1-0 {
  margin-left: 0pt;
  margin-right: 0pt;
}

.x-fn-1-0 {
  margin-left: 0pt;
  margin-right: 0pt;
}

.x-foldout-1-0 {
  margin-left: 0pt;
  margin-right: 0pt;
}

.x-generationidentifier-1-0 {
  margin-left: 0pt;
  margin-right: 0pt;
}

.x-goto-action-1-0 {
  margin-left: 0pt;
  margin-right: 0pt;
}

.x-honorific-1-0 {
  margin-left: 0pt;
  margin-right: 0pt;
}

.x-i-1-0 {
  margin-left: 0pt;
  margin-right: 0pt;
  font-style: italic;
}

.x-image-1-0 {
  margin-left: 0pt;
  margin-right: 0pt;
  text-indent: 0pt;
}

.x-image-2-0 {
  margin-left: 0pt;
  margin-right: 0pt;
  text-indent: 0pt;
  margin-top: 8pt;
}

.x-image-3-0 {
  margin-left: 0pt;
  margin-right: 0pt;
  text-indent: 0pt;
  margin-top: 8pt;
}

.x-image-4-0 {
  margin-left: 0pt;
  margin-right: 0pt;
  text-indent: 0pt;
}

.x-image-4-1 {
}

.x-image-4-2 {
  text-align: center;
}

.x-atidlm-inclusion-1-0 {
  margin-left: 0pt;
  margin-right: 0pt;
  text-indent: 0pt;
}

.x-index-1-0 {
  margin-left: 0pt;
  margin-right: 0pt;
}

.x-index-see-1-0 {
  margin-left: 0pt;
  margin-right: 0pt;
}

.x-index-see-also-1-0 {
  margin-left: 0pt;
  margin-right: 0pt;
}

.x-index-sort-as-1-0 {
  margin-left: 0pt;
  margin-right: 0pt;
}

.x-indexterm-1-0 {
  margin-left: 0pt;
  margin-right: 0pt;
}

.x-keydef-1-0 {
  margin-left: 0pt;
  margin-right: 0pt;
}

.x-keyword-1-0 {
  margin-left: 0pt;
  margin-right: 0pt;
}

.x-keywords-1-0 {
  margin-left: 0pt;
  margin-right: 0pt;
}

.x-lastname-1-0 {
  margin-left: 0pt;
  margin-right: 0pt;
}

.x-li-1-0 {
  margin-left: 0pt;
  margin-right: 0pt;
  text-indent: 0pt;
  margin-top: 6pt;
  margin-bottom: 6pt;
  margin-left: 0pt;
  text-indent: 0pt;
}

.x-li-2-0 {
  margin-left: 0pt;
  margin-right: 0pt;
  text-indent: 0pt;
  margin-top: 6pt;
  margin-bottom: 6pt;
  margin-left: 0pt;
  text-indent: 0pt;
}

.x-li-3-0 {
  margin-left: 0pt;
  margin-right: 0pt;
  text-indent: 0pt;
  margin-top: 6pt;
  margin-bottom: 6pt;
  margin-left: 0pt;
  text-indent: 0pt;
}

.x-li-4-0 {
  margin-left: 0pt;
  margin-right: 0pt;
  text-indent: 0pt;
  margin-top: 6pt;
  margin-bottom: 6pt;
  margin-left: 0pt;
  text-indent: 0pt;
}

.x-li-5-0 {
  margin-left: 0pt;
  margin-right: 0pt;
  text-indent: 0pt;
  margin-top: 6pt;
  margin-bottom: 6pt;
  margin-left: 0pt;
  text-indent: 0pt;
}

.x-li-6-0 {
  margin-left: 0pt;
  margin-right: 0pt;
  text-indent: 0pt;
  margin-top: 6pt;
  margin-bottom: 6pt;
  margin-left: 0pt;
  text-indent: 0pt;
}

.x-li-7-0 {
  margin-left: 0pt;
  margin-right: 0pt;
  text-indent: 0pt;
  margin-top: 6pt;
  margin-bottom: 6pt;
  margin-left: 0pt;
  text-indent: 0pt;
}

.x-li-8-0 {
  margin-left: 0pt;
  margin-right: 0pt;
  text-indent: 0pt;
  margin-top: 6pt;
  margin-bottom: 6pt;
  margin-left: 0pt;
  text-indent: 0pt;
}

.x-lines-1-0 {
  font-size: 100%;
  margin-left: 0pt;
  margin-right: 0pt;
  text-indent: 0pt;
  font-family: monospace;
  white-space: pre;
}

.x-atidlm-linkcontent-1-0 {
  margin-left: 0pt;
  margin-right: 0pt;
  text-indent: 0pt;
}

.x-linkpool-1-0 {
  margin-left: 0pt;
  margin-right: 0pt;
}

.x-linktext-1-0 {
  margin-left: 0pt;
  margin-right: 0pt;
}

.x-locality-1-0 {
  margin-left: 0pt;
  margin-right: 0pt;
}

.x-localityname-1-0 {
  margin-left: 0pt;
  margin-right: 0pt;
}

.x-longdescref-1-0 {
  margin-left: 0pt;
  margin-right: 0pt;
}

.x-longquoteref-1-0 {
  margin-left: 0pt;
  margin-right: 0pt;
}

.x-lq-1-0 {
  margin-left: 0pt;
  margin-right: 0pt;
}

.x-lq-2-0 {
  margin-left: 0pt;
  margin-right: 0pt;
  text-indent: 0pt;
  margin-top: 6pt;
  margin-bottom: 6pt;
}

.x-lq-3-0 {
  margin-left: 0pt;
  margin-right: 0pt;
  text-indent: 0pt;
  margin-top: 8pt;
}

.x-map-1-0 {
  margin-left: 0pt;
  margin-right: 0pt;
}

.x-mapref-1-0 {
  margin-left: 0pt;
  margin-right: 0pt;
}

.x-metadata-1-0 {
  margin-left: 0pt;
  margin-right: 0pt;
}

.x-atidlm-metadata-1-0 {
  margin-left: 0pt;
  margin-right: 0pt;
  text-indent: 0pt;
}

.x-middlename-1-0 {
  margin-left: 0pt;
  margin-right: 0pt;
}

.x-modelno-1-0 {
  margin-left: 0pt;
  margin-right: 0pt;
}

.x-namedetails-1-0 {
  margin-left: 0pt;
  margin-right: 0pt;
}

.x-navref-1-0 {
  margin-left: 0pt;
  margin-right: 0pt;
}

.x-navtitle-1-0 {
  margin-left: 0pt;
  margin-right: 0pt;
}

.x-next-action-1-0 {
  margin-left: 0pt;
  margin-right: 0pt;
}

.x-note-1-0 {
  margin-left: 0pt;
  margin-right: 0pt;
}

.x-note-2-0 {
  margin-left: 0pt;
  margin-right: 0pt;
  text-indent: 0pt;
  margin-top: 6pt;
  margin-bottom: 6pt;
}

.x-note-3-0 {
  margin-left: 0pt;
  margin-right: 0pt;
}

.x-note-4-0 {
  margin-left: 0pt;
  margin-right: 0pt;
  text-indent: 0pt;
  margin-top: 6pt;
  margin-bottom: 6pt;
}

.x-note-5-0 {
  margin-left: 0pt;
  margin-right: 0pt;
  text-indent: 0pt;
  margin-top: 8pt;
}

.x-number-1-0 {
  margin-left: 0pt;
  margin-right: 0pt;
}

.x-numberlist-1-0 {
  margin-left: 0pt;
  margin-right: 0pt;
}

.x-numberrange-1-0 {
  margin-left: 0pt;
  margin-right: 0pt;
}

.x-object-1-0 {
  margin-left: 0pt;
  margin-right: 0pt;
}

.x-ol-1-0 {
  margin-left: 0pt;
  margin-right: 0pt;
  text-indent: 0pt;
  margin-top: 8pt;
  font-family: Calibri;
}

.x-organizationinfo-1-0 {
  margin-left: 0pt;
  margin-right: 0pt;
}

.x-organizationname-1-0 {
  margin-left: 0pt;
  margin-right: 0pt;
}

.x-organizationnamedetails-1-0 {
  margin-left: 0pt;
  margin-right: 0pt;
}

.x-otherinfo-1-0 {
  margin-left: 0pt;
  margin-right: 0pt;
}

.x-othermeta-1-0 {
  margin-left: 0pt;
  margin-right: 0pt;
}

.x-p-1-0 {
  margin-left: 0pt;
  margin-right: 0pt;
  font-family: Calibri;
  font-size: 12pt;
  color: #000000;
  text-align: justify;
}

.x-p-2-0 {
  margin-left: 0pt;
  margin-right: 0pt;
  text-indent: 0pt;
  margin-top: 6pt;
  margin-bottom: 6pt;
  font-family: Calibri;
  font-size: 12pt;
  color: #000000;
  text-align: justify;
}

.x-p-3-0 {
  margin-left: 0pt;
  margin-right: 0pt;
  font-family: Calibri;
  font-size: 12pt;
  color: #000000;
  text-align: justify;
}

.x-p-4-0 {
  margin-left: 0pt;
  margin-right: 0pt;
  text-indent: 0pt;
  margin-top: 6pt;
  margin-bottom: 6pt;
  font-family: Calibri;
  font-size: 12pt;
  color: #000000;
  text-align: justify;
}

.x-p-5-0 {
  margin-left: 0pt;
  margin-right: 0pt;
  text-indent: 0pt;
  margin-top: 8pt;
  font-family: Calibri;
  font-size: 12pt;
}

.x-p-6-0 {
  margin-left: 0pt;
  margin-right: 0pt;
  text-indent: 0pt;
  margin-top: 8pt;
  font-family: Calibri;
  font-size: 12pt;
  color: #000000;
  text-align: justify;
}

.x-param-1-0 {
  margin-left: 0pt;
  margin-right: 0pt;
}

.x-partno-1-0 {
  margin-left: 0pt;
  margin-right: 0pt;
}

.x-permissions-1-0 {
  margin-left: 0pt;
  margin-right: 0pt;
}

.x-personinfo-1-0 {
  margin-left: 0pt;
  margin-right: 0pt;
}

.x-personname-1-0 {
  margin-left: 0pt;
  margin-right: 0pt;
}

.x-ph-1-0 {
  margin-left: 0pt;
  margin-right: 0pt;
}

.x-platform-1-0 {
  margin-left: 0pt;
  margin-right: 0pt;
}

.x-postalcode-1-0 {
  margin-left: 0pt;
  margin-right: 0pt;
}

.x-pre-1-0 {
  font-size: 100%;
  margin-left: 0pt;
  margin-right: 0pt;
  text-indent: 0pt;
  font-family: monospace;
  white-space: pre;
}

.x-procbody-1-0 {
  margin-left: 0pt;
  margin-right: 0pt;
  text-indent: 0pt;
}

.x-procedure-1-0 {
  margin-left: 0pt;
  margin-right: 0pt;
  text-indent: 0pt;
  text-align: justify;
}

.x-procedure-2-0 {
  margin-left: 0pt;
  margin-right: 0pt;
  text-indent: 0pt;
  text-align: justify;
}

.x-procedure-3-0 {
  margin-left: 0pt;
  margin-right: 0pt;
  text-indent: 0pt;
  text-align: justify;
}

.x-procedure-4-0 {
  margin-left: 0pt;
  margin-right: 0pt;
  text-indent: 0pt;
  text-align: justify;
}

.x-procinfo-1-0 {
  margin-left: 0pt;
  margin-right: 0pt;
}

.x-procresult-1-0 {
  margin-left: 0pt;
  margin-right: 0pt;
}

.x-procstep-1-0 {
  margin-left: 0pt;
  margin-right: 0pt;
  text-indent: 0pt;
  margin-top: 6pt;
  margin-bottom: 6pt;
  margin-left: 0pt;
  text-indent: 0pt;
}

.x-procstep-2-0 {
  margin-left: 0pt;
  margin-right: 0pt;
  text-indent: 0pt;
  margin-top: 6pt;
  margin-bottom: 6pt;
  margin-left: 0pt;
  text-indent: 0pt;
}

.x-procsteps-1-0 {
  margin-left: 0pt;
  margin-right: 0pt;
  text-indent: 0pt;
  margin-top: 8pt;
  font-family: Calibri;
}

.x-procsubstep-1-0 {
  margin-left: 0pt;
  margin-right: 0pt;
}

.x-procsubsteps-1-0 {
  margin-left: 0pt;
  margin-right: 0pt;
}

.x-prodinfo-1-0 {
  margin-left: 0pt;
  margin-right: 0pt;
}

.x-prodname-1-0 {
  margin-left: 0pt;
  margin-right: 0pt;
}

.x-productgraphic-1-0 {
  margin-left: 0pt;
  margin-right: 0pt;
}

.x-prognum-1-0 {
  margin-left: 0pt;
  margin-right: 0pt;
}

.x-prolog-1-0 {
  margin-left: 0pt;
  margin-right: 0pt;
}

.x-publisher-1-0 {
  margin-left: 0pt;
  margin-right: 0pt;
}

.x-q-1-0 {
  margin-left: 0pt;
  margin-right: 0pt;
}

.x-related-links-1-0 {
  margin-left: 0pt;
  margin-right: 0pt;
}

.x-relcell-1-0 {
  margin-left: 0pt;
  margin-right: 0pt;
}

.x-relcolspec-1-0 {
  margin-left: 0pt;
  margin-right: 0pt;
}

.x-relheader-1-0 {
  margin-left: 0pt;
  margin-right: 0pt;
}

.x-relrow-1-0 {
  margin-left: 0pt;
  margin-right: 0pt;
}

.x-reltable-1-0 {
  margin-left: 0pt;
  margin-right: 0pt;
  text-indent: 0pt;
  margin-top: 1.2em;
}

.x-resourceid-1-0 {
  margin-left: 0pt;
  margin-right: 0pt;
}

.x-atidlm-resourcepair-1-0 {
  margin-left: 0pt;
  margin-right: 0pt;
  text-indent: 0pt;
}

.x-revised-1-0 {
  margin-left: 0pt;
  margin-right: 0pt;
}

.x-row-1-0 {
  margin-left: 0pt;
  margin-right: 0pt;
  text-indent: 0pt;
}

.x-searchtitle-1-0 {
  margin-left: 0pt;
  margin-right: 0pt;
}

.x-serialno-1-0 {
  margin-left: 0pt;
  margin-right: 0pt;
}

.x-series-1-0 {
  margin-left: 0pt;
  margin-right: 0pt;
}

.x-shortdesc-1-0 {
  margin-left: 0pt;
  margin-right: 0pt;
}

.x-simpletable-1-0 {
  margin-left: 0pt;
  margin-right: 0pt;
  text-indent: 0pt;
  margin-top: 1.2em;
}

.x-sl-1-0 {
  margin-left: 0pt;
  margin-right: 0pt;
}

.x-sl-2-0 {
  margin-left: 0pt;
  margin-right: 0pt;
  text-indent: 0pt;
  margin-top: 6pt;
  margin-bottom: 6pt;
}

.x-sl-3-0 {
  margin-left: 0pt;
  margin-right: 0pt;
  text-indent: 0pt;
  margin-top: 8pt;
}

.x-sli-1-0 {
  margin-left: 0pt;
  margin-right: 0pt;
  text-indent: 0pt;
  margin-top: 8pt;
}

.x-source-1-0 {
  margin-left: 0pt;
  margin-right: 0pt;
}

.x-atidlm-source-1-0 {
  margin-left: 0pt;
  margin-right: 0pt;
  text-indent: 0pt;
}

.x-state-1-0 {
  margin-left: 0pt;
  margin-right: 0pt;
}

.x-stentry-1-0 {
  margin-left: 0pt;
  margin-right: 0pt;
}

.x-sthead-1-0 {
  margin-left: 0pt;
  margin-right: 0pt;
}

.x-strow-1-0 {
  margin-left: 0pt;
  margin-right: 0pt;
}

.x-subtitle-1-0 {
  margin-left: 0pt;
  margin-right: 0pt;
}

.x-sup-1-0 {
  margin-left: 0pt;
  margin-right: 0pt;
  font-size: 0.69em;
  top: -0.33em;
  position: relative;
}

.x-table-1-0 {
  margin-left: 0pt;
  margin-right: 0pt;
  text-indent: 0pt;
}

.x-tablelist-1-0 {
  margin-left: 0pt;
  margin-right: 0pt;
}

.x-atidlm-target-1-0 {
  margin-left: 0pt;
  margin-right: 0pt;
  text-indent: 0pt;
}

.x-tbody-1-0 {
  margin-left: 0pt;
  margin-right: 0pt;
  text-indent: 0pt;
}

.x-techinfomap-1-0 {
  margin-left: 0pt;
  margin-right: 0pt;
  text-indent: 0pt;
  margin-left: 5px;
  width: 95%;
}

.x-techinfometa-1-0 {
  margin-left: 0pt;
  margin-right: 0pt;
}

.x-techinfoparam-1-0 {
  margin-left: 0pt;
  margin-right: 0pt;
}

.x-techinfoparams-1-0 {
  margin-left: 0pt;
  margin-right: 0pt;
}

.x-term-1-0 {
  margin-left: 0pt;
  margin-right: 0pt;
}

.x-text-1-0 {
  margin-left: 0pt;
  margin-right: 0pt;
}

.x-tgroup-1-0 {
  margin-left: 0pt;
  margin-right: 0pt;
  text-indent: 0pt;
  margin-top: 1.2em;
}

.x-tgroup-2-0 {
  margin-left: 0pt;
  margin-right: 0pt;
  text-indent: 0pt;
}

.x-thead-1-0 {
  text-align: left;
  margin-left: 0pt;
  margin-right: 0pt;
  text-indent: 0pt;
  font-weight: bold;
}

.x-thoroughfare-1-0 {
  margin-left: 0pt;
  margin-right: 0pt;
}

.x-title-1-0 {
  margin-left: 0pt;
  margin-right: 0pt;
  text-indent: 0pt;
  font-family: sans-serif;
  color: #0000ff;
  text-align: left;
  line-height: 1.1;
  margin-top: 1.5em;
  margin-bottom: 1em;
  font-weight: bold;
  font-size: 14pt;
  font-family: Calibri;
  font-size: 12pt;
  color: #000000;
  margin-left: 0pt;
  text-indent: 0pt;
}

.x-title-2-0 {
  margin-left: 0pt;
  margin-right: 0pt;
  text-indent: 0pt;
  font-family: sans-serif;
  color: #0000ff;
  text-align: left;
  line-height: 1.1;
  margin-top: 1.5em;
  margin-bottom: 1em;
  font-weight: bold;
  font-size: 16pt;
  font-family: Calibri;
  font-size: 12pt;
  color: #000000;
  margin-left: 0pt;
  text-indent: 0pt;
}

.x-title-3-0 {
  margin-left: 0pt;
  margin-right: 0pt;
  text-indent: 0pt;
  font-family: sans-serif;
  color: #0000ff;
  text-align: left;
  line-height: 1.1;
  margin-top: 1.5em;
  margin-bottom: 1em;
  font-weight: bold;
  font-size: 18pt;
  font-family: Calibri;
  font-size: 14pt;
  color: #000000;
  margin-left: 0pt;
  text-indent: 0pt;
}

.x-title-4-0 {
  margin-left: 0pt;
  margin-right: 0pt;
  text-indent: 0pt;
  font-family: sans-serif;
  color: #0000ff;
  text-align: left;
  line-height: 1.1;
  margin-top: 1.5em;
  margin-bottom: 1em;
  font-weight: bold;
  font-size: 24pt;
  font-family: Calibri;
  font-size: 16pt;
  color: #000000;
}

.x-title-5-0 {
  margin-left: 0pt;
  margin-right: 0pt;
  text-indent: 0pt;
  font-family: sans-serif;
  color: #0000ff;
  text-align: left;
  line-height: 1.1;
  margin-top: 1.5em;
  margin-bottom: 1em;
  font-weight: bold;
  font-family: Calibri;
  color: #ffffff;
}

.x-title-6-0 {
  margin-left: 0pt;
  margin-right: 0pt;
  text-indent: 0pt;
  font-family: sans-serif;
  color: #0000ff;
  text-align: left;
  line-height: 1.1;
  margin-top: 1.5em;
  margin-bottom: 1em;
  font-weight: bold;
  font-size: 20pt;
  font-family: Calibri;
  font-size: 16pt;
  color: #000000;
  margin-left: 0pt;
  text-indent: 0pt;
}

.x-title-7-0 {
  margin-left: 0pt;
  margin-right: 0pt;
  text-indent: 0pt;
  font-family: sans-serif;
  color: #0000ff;
  text-align: left;
  line-height: 1.1;
  margin-top: 1.5em;
  margin-bottom: 1em;
  font-weight: bold;
  font-family: Calibri;
}

.x-titlealts-1-0 {
  margin-left: 0pt;
  margin-right: 0pt;
}

.x-tm-1-0 {
  margin-left: 0pt;
  margin-right: 0pt;
}

.x-toc-1-0 {
  margin-left: 0pt;
  margin-right: 0pt;
  text-indent: 0pt;
  font-family: Calibri;
}

.x-topicgroup-1-0 {
  margin-left: 0pt;
  margin-right: 0pt;
}

.x-topichead-1-0 {
  margin-left: 0pt;
  margin-right: 0pt;
}

.x-topicmeta-1-0 {
  margin-left: 0pt;
  margin-right: 0pt;
}

.x-topicref-1-0 {
  margin-left: 0pt;
  margin-right: 0pt;
}

.x-u-1-0 {
  margin-left: 0pt;
  margin-right: 0pt;
  text-decoration: underline;
}

.x-ul-1-0 {
  margin-left: 0pt;
  margin-right: 0pt;
  text-indent: 0pt;
  margin-top: 8pt;
  font-family: Calibri;
}

.x-url-1-0 {
  margin-left: 0pt;
  margin-right: 0pt;
}

.x-urls-1-0 {
  margin-left: 0pt;
  margin-right: 0pt;
}

.x-vrm-1-0 {
  margin-left: 0pt;
  margin-right: 0pt;
}

.x-vrmlist-1-0 {
  margin-left: 0pt;
  margin-right: 0pt;
}

.x-xref-1-0 {
  margin-left: 0pt;
  margin-right: 0pt;
  color: #0000ff;
  text-decoration: underline;
}

table {
  border-color: #000000;
  font-size: 100%;
  border-collapse: collapse;
}

td,
th {
  border-color: #000000;
}

table[rules][rules="none"] > tr > td,
table[rules][rules="none"] > * > tr > td,
table[rules][rules="none"] > tr > th,
table[rules][rules="none"] > * > tr > th,
table[rules][rules="none"] > td,
table[rules][rules="none"] > th {
  border-width: thin;
  border-style: none;
}

table[frame="box"][border]:not([border="0"]),
table[frame="border"][border]:not([border="0"]),
table:not([frame])[border]:not([border="0"]) {
  border-style: solid;
}

th,
td {
  border-top-style: none;
  border-left-style: none;
}

table table[class~="x-li-1-0"] {
  width: 100%;
}

table table[class~="x-li-2-0"] {
  width: 100%;
}

table table[class~="x-li-3-0"] {
  width: 100%;
}

table table[class~="x-li-4-0"] {
  width: 100%;
}

table table[class~="x-li-5-0"] {
  width: 100%;
}

table table[class~="x-li-6-0"] {
  width: 100%;
}

table table[class~="x-li-7-0"] {
  width: 100%;
}

table table[class~="x-li-8-0"] {
  width: 100%;
}

table table[class~="x-procstep-1-0"] {
  width: 100%;
}

table table[class~="x-procstep-2-0"] {
  width: 100%;
}

.entry-in-tbody {
  border-color: #000000;
  margin-left: 0pt;
  margin-right: 0pt;
  text-indent: 0pt;
  margin-left: 0pt;
  margin-right: 0pt;
  text-indent: 0pt;
  margin-top: 0pt;
}

.x--title-as-table {
  border: none;
  padding: 0pt;
}

.x--listitem-as-table {
  border: none;
  padding: 0pt;
}

.x--as-table-ralign-padding {
  vertical-align: baseline;
  text-align: right;
  padding: 0pt;
}

.x--as-table-valign-padding {
  vertical-align: baseline;
  padding: 0pt;
}

.x--word-break-keep {
  word-break: keep-all;
}

.x--zero-left-margins {
  margin-left: 0pt;
  text-indent: 0pt;
}

.x--zero-text-indent {
  text-indent: 0pt;
}

.x--zero-top-bot-margins {
  margin-top: 0pt;
  margin-bottom: 0pt;
}

.x--inherit-background-color {
  background-color: inherit;
}

.x--br-clear {
  font-size: 0pt;
  line-height: 0pt;
  clear: both;
}
